@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Signika:wght@500&display=swap');

body {
    display: flex;
    min-height: 100vh;  
    margin: 0;
    font-family: 'Signika', sans-serif;
}

#ladoIzquierdo {
    background-image: url("./images/foto-uveg.png");
    background-size: cover;
    width: 40vw;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    height: 150px;
    width: 100%;
    margin-top: 200px;
    justify-content: center;
    font-size: 40px;
}

.logoTexto {
    margin: 10px;
    font-weight: bolder;
}

img {
    max-height: 90%;
    max-width: auto;
}

#ladoDerecho {
    padding-top: 140px;
    background-color: rgb(235, 235, 235);
}

.textoTitular, .botonSubmit {
    padding-left: 50px;
    padding-right: 50px;
    height: 140px;
}

.textoTitular {
    font-size: 25px;
}

.reto {
    padding-top: 40px;
    padding-bottom: 60px;
}

legend {
    font-size: 25px;
    padding-bottom: 20px;
}

.formulario {
    background-color: white;
    padding: 30px 50px;
    box-shadow: 5px 5px 5px gray;
    font-size: 15px;
}

label {
    font-family: "Poppins"; 
    font-weight: bolder;
}

input, textarea {
    width: 250px;
    border: solid;
    border-radius: 5px;
    border-color: #E5E7EB;
    padding: 5px 10px;
    border-width: 1px;
}

input[type="checkbox"] {
    width: 10px;
    margin-right: 10px;
}

button { 
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    padding: 10px 50px;
    font-weight: bolder;
    font-size: 17px;
    box-shadow: 2px 2px 2px gray;
}

.iniciarSesion {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: #596D48;
    font-weight: bolder;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

.checkboxGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px 20px;
}

.interestBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.checklist {
    border: none;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
}

.fullName, .emailAndNumber, .password {
    display: flex;
    gap: 60px;
}

#errorMessage {
    font-size: 13px;
    color: red;
}

.error {
    border-color: red;
}

.correct {
    border-color: green;
}